.starships {
  /* flex area */
  display        : flex;
  justify-content: center;
}

.starships__list {
  max-width: 100%;
  width    : 80%;
  height   : 50px;

  /* flex area */
  display        : flex;
  justify-content: space-around;
  flex-wrap      : wrap;
}

@media (max-width: 600px) {
  .starships__list {
    width: 100%;
  }
}

.starships__title {
  width    : 100%;
  height   : 50px;
  font-size: 32px;
  color    : #DDD;

  /* flex area */
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.hidden {
  display: none !important;
}

.starships__loading {
  width : 100%;
  height: 100px;
  color : #DDD;

  /* flex area */
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.starships__loading--icon {
  width : 50px;
  height: 50px;

  /* animation area */
  animation-name           : starships-loading;
  animation-duration       : 2s;
  animation-iteration-count: infinite;
  animation-direction      : alternate;
  animation-timing-function: linear;
}

@keyframes starships-loading {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
    color    : transparent;
  }
}

.starships__list--items {
  max-width: 100%;

  /* flex area */
  display        : flex;
  justify-content: flex-start;
  align-items    : center;
}

.starships__list--item {
  color        : #2f373df2;
  background   : #FFF;
  border-radius: 6px;
  padding      : 10px 5px;
  width        : 360px;
  min-height   : 35px;

  /* flex area */
  display        : flex;
  justify-content: space-between;
}


.starships__list--item-animation {
  /* animation area */
  animation-name     : mega-ligth-animation;
  animation-duration : 2s;
  animation-fill-mode: forwards;
}

@keyframes mega-ligth-animation {
  0% {
    width: calc(360px - 40px);
  }

  100% {
    width: calc(360px - 0px);
  }
}

.starships__list--icon {
  padding      : 5px;
  width        : 40px;
  height       : 40px;
  border-radius: 20px;
  margin       : 5px;
  transform    : rotate(90deg);
}

.starships__list--item-name {
  font-size  : 15px;
  font-weight: 600;
}

.starships__list--mega-ligth {
  color: #bf9a56;
}

.starships__list .paginate,
.paginate__actions {
  width  : 100%;
  padding: 5px;
  /* flex area */
  display        : flex;
  justify-content: space-between;
}

.starships__list .paginate__actions button {
  padding      : 10px;
  color        : #FFF;
  font-size    : 16px;
  font-weight  : bold;
  background   : #2f373df2;
  border       : 0;
  border-radius: 8px;
  cursor       : pointer;
}

.starships__list .paginate__actions button:hover {
  opacity: 0.5;
}

.starships__list .paginate__actions button[disabled] {
  cursor : not-allowed;
  opacity: 0.5;
}