.starships {
  display        : flex;
  justify-content: center;
}

.starships__list {
  max-width: 100%;
  width    : 400px;
  margin   : 0 auto;
}

.starships__list--items {
  display        : flex;
  justify-content: flex-start;
  align-items    : center;

  @media(min-width: 400px) {
    min-width: 350px;
  }
}

.starships__list--item {
  color: #2f373df2;
  background: #FFF;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.starships__list--icon {
  padding      : 5px;
  width        : 40px;
  height       : 40px;
  border-radius: 20px;
  margin       : 5px;
  transform    : rotate(90deg);
}

.starships__list--item-name {
  font-size  : 15px;
  font-weight: 600;
}

.starships__list--mega-ligth {
  color: #bf9a56;
  margin-left: 10px;
}

.starships__list .actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.starships__list .actions button {
  padding: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  background: #2f373df2;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.starships__list .actions button:hover {
  opacity: 0.5;
}

.starships__list .actions button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}