.speedControll {
  width     : 100%;
  text-align: center;
  padding   : 0 5px;
  color     : #FFF;
}

.speedControll__panel {
  max-width: 100%;
  width: 400px;
  margin: 0 auto;
}

.speedControll__actions {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  margin         : 10px auto;
}

.speedControll__actions input {
  max-width    : 100%;
  width        : 400px;
  height       : 40px;
  color        : #333;
  border       : 1px solid #dcdce6;
  border-radius: 5px;
  padding      : 0 24px;
}

.speedControll__actions .button {
  max-width    : 100%;
  width        : 400px;
  height       : 40px;
  background   : #2f373df2;
  border       : 0;
  border-radius: 5px;
  color        : #FFF;
  font-weight  : 700;
  margin-top   : 16px;

  display   : inline-block;
  text-align: center;
  font-size : 18px;
  transition: 0.2s;
}

.speedControll__actions .button:hover {
  opacity: .8;
}