.app-container {
  height             : calc(100vh - 60px);
  background         : url('/images/bg_starships.jpg');
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
}
